<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../includes/head.ejs',{title:"CAR-HAWA | Add Product"}) %>
        <link rel="stylesheet" href="/css/form.css">
        <link rel="stylesheet" href="/css/add-product.css">
        <script src="/javascript/add-product.js" defer></script>
</head>

<body>
    <main>
        <%- include('../includes/header.ejs') %>
            <div class="add-product-div">
                <div>
                    <p style="text-align: center;">Total products: <%= products.length %> product(s)
                            <button id="add">Add Product</button>
                </div>
                </p>
                <div>
                    <table id="myTable">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Name</th>
                                <th>Image</th>
                                <th>Initial Price</th>
                                <th>Selling Price</th>
                                <th>Discount</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for( let product of products) { %>
                                <tr>
                                    <td></td>
                                    <td class="elipsis">
                                        <%= product.name %>
                                    </td>
                                    <td>
                                        <img src=" <%= product.imageUrl %>" alt="image">
                                    </td>
                                    <td>
                                        <%= product.initialPrice %>
                                    </td>
                                    <td>
                                        <%= product.price %>
                                    </td>
                                    <td>
                                        <%= product.discount %>%
                                    </td>
                                    <td>
                                        <form class="td-form" action="/admin/product/delete/<%= product.id %>"
                                            method="post">
                                            <input type="hidden" value="<%= product.id %>">
                                            <button id="delete" type="submit">Delete</button>
                                        </form>
                                        <a id="edit" href="/admin/edit-product/<%=product.id%>">Edit</a>
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                </div>
                <div class="form-div">
                    <button id="cancel">Close</button>
                    <form id="productForm" action="/admin/add-product" method="post" enctype="multipart/form-data" accept="image/*">
                        <h3>Add a Product.</h3>
                        <p><label for="name">Product Category</label>
                            <select name="category" id="category">
                                <option value="electronics">Electronics</option>
                                <option value="fashion">Fashion</option>
                                <option value="cosmetics">Cosmetics</option>
                                <option value="furniture">Furniture</option>
                                <option value="kitchen">Kitchen</option>
                                <option value="electronics">Electronics</option>
                            </select>
                        </p>
                        <p><label for="name">Product Name</label>
                            <input type="text" id="name" name="name" required>
                        </p>
                        <p><label for="initialPrice">Initial Product Price</label>
                            <input type="number" id="initialPrice" name="initialPrice" required>
                        </p>
                        <p><label for="price">Product Price</label>
                            <input type="number" id="price" name="price" required>
                        </p>
                        <p><label for="description">Product Description</label>
                            <textarea name="description" id="description" required></textarea>
                        </p>
                        <p><label for="image">Product Image</label>
                            <input type="file" name="image" id="image">
                        </p>
                        <div class="previewDiv"><img id="imagePreview" src="" alt=""></div>
                            <p><button class="btn btn-alt" type="reset">Clear</button></p>
                            <p><button class="btn" type="submit">Submit</button></p>
                        </div>
                    </form>
                </div>
            </div>
    </main>
</body>

</html>