<article class="product-card">
    <div class="product-image"><img src="<%= product.imageUrl %>" alt=<%=product.name %>></div>
    <div class="product-detail">
        <h4>
            <%= product.name %>
        </h4>
        <div class="price">
            <p id="selling">Ksh.<%= product.price %>
            </p>
            <p id="initial">Was Ksh.<%= product.initialPrice %>
            </p>
            <p id="discount">
                -<%= product.discount %>%
            </p>
        </div>
    </div>
    <div class="action-buttons">
        <a class="btn" href="/product/<%= product._id %>">View Product</a>
        <a class="btn btn-alt" href="">Add to Cart</a>
    </div>
</article>