<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../includes/head.ejs',{title:"Car-Hawa | View Product"}) %>
        <link rel="stylesheet" href="/css/view-product.css">
</head>

<body>
    <main>
        <%- include('../includes/header.ejs') %>
            <section class="product-holder">
                <div class="product-image">
                    <img src="<%= product.imageUrl %>" alt="">
                </div>
                <div id="vertical-line"></div>
                <div class="action-div">
                    <div class="product-desc">
                        <p class="name">
                            <%= product.name %>
                        </p>
                        <h4>PRODUCT DESCRIPTION</h4>
                        <p class="desc">
                            <%= product.description %>
                        </p>
                        <p class="price">KSH <%= product.price %>  <span
                                    style="text-decoration: line-through; font-weight: normal;">
                                    KSH <%= product.initialPrice %>
                                </span>  <span id="discount">
                                    -<%=product.discount%>%
                                </span></p>
                        <a class="action" href="">Add to Cart</a>
                    </div>
                </div>
            </section>
    </main>
</body>

</html>